@import './bootstrap/bootstrapCustom.scss';
@import 'scrollbar.scss';
@import 'style.scss';
@import 'fonts/fonts.scss';
@import 'print.scss';
@import 'orientations.scss';

html {
  margin:0;
  overflow-x:hidden
}

body {
  margin:0
}

@media (min-width:1200px){
  html {
      overflow-y:hidden
  }
  body {
      font-size:1rem
  }
}
