@import "globals.scss";

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track-piece:start{
  background:url(../images/icons/transparent.png) repeat-y !important;
}
::-webkit-scrollbar-track-piece:end{
  background:url(../images/icons/transparent.png) repeat-y !important;
}
::-webkit-scrollbar-thumb {
  border-radius:4px;
  background-color: $primary-color-3;
  // -webkit-box-shadow:inset 0 0 12px rgba(241,112,34,.8);
  // box-shadow:inset 0 0 12px rgba(241,112,34,.8)
}