@import '../../../styles/globals.scss';

section {
  width: 100%;
  display: inline-block;

  aside {
    color: $text-color-1;
    text-align: left;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.skill-bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.skill-bar{
  height: 5px;
  float: right;
  margin: 5px 0;
}

.bar{
  height:5px;
  width:50px;
  background: $text-color-1;
}
.skill-level{
  height:5px;
  background: $primary-color-3;
}

@media (min-width:1200px) {
  section {
    margin-top: 0;
    aside {
      line-height: 15px;
    }
  }
}